doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    header.header-host
      h1='Buzzer Host'

    div.form-container
      img.mute(src='/assets/speaker_on.png' onclick='toggleSound(this);')
      div.btn-group <!-- DC: Probably we don't need this but keeping for future enhancement -->
        button.btn.js-activate='Activate new joiners'
        button.btn.js-deactivate='Deactivate buzzes'
      div.btn-group
        button.btn.js-clear.buzzer-ready-mode='Clear buzzes'
        button.btn.js-reset.secondary='Delete game'
      hr
      br
      h2=`${buzzes.length ? `${buzzes.length} Buzzed!!` : ''}`
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name} on Team ${buzz.team}`
      br
      hr
      h2.js-active=`${users.length} joined`
      ol.js-users
        each user in users
          li=`${user.name} on Team ${user.team}`

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
